projects() {
    project_folders=(~/GitHub/*)

    for ((iter=0; iter<${#project_folders[@]}; iter++)); do
        short_name=$(basename ${project_folders[$iter]})
        item_number=$(printf "%02d" $(($iter + 1)))
        echo -e "\033[0;31m$item_number.\033[0m \033[1;94m$short_name\033[0m"
    done

    read -rsn2 input
    cd "${project_folders[$(($input - 1))]}"
}
