RED="\033[0;31m"
BLUE="\033[1;94m"
GREEN="\033[1;32m"
BG="\033[0m"

projects() {
    while :; do
        projects=(~/GitHub/*)
        for ((i=0; i < ${#projects[@]}; i++)); do
            name=$(basename ${projects[$i]})
            item=$(printf "%02d" $(($i + 1)))
            echo -e "$RED$item. $BLUE$name$BG"
        done

        read input
        if [[ $input == *"cl"* ]]; then
            name=${input#cl }
            git clone -q git@github.com:jakescaife/$name.git ~/GitHub/$name
            echo -e "$GREEN$name cloned.$BG"
        else
            number=$(($input - 1))
            cd ${projects[$number]}
            break
        fi
    done
}
